.category-card {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(to left, #fd746c, #ff9068);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.category-card h4 {
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .category-card {
    margin-right: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to left, #fd746c, #ff9068);
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .category-card h4 {
    color: white;
    font-size: 0.8rem;
  
  }
}

